.profile_container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    background-image: url('../../assets/images/sectionBg.png');
}

.profile_parents {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.profile_details_name {
    font-size: 24px;
    font-family: 'poopins semibold';
}

.profile_details_role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
}

.profile_details_role h1 {
    font-size: 40px;
    font-family: cursive;
}

.primary_text {
    color: white;
}

.highlighted_text {
    color: orangered;
}

.profile_tagline {
    font-size: 19px;
    margin: 5px 0 0 0;
    font-family: "poppins Light";
}

.primary_btn {
    background-color: black;
    color: white;
    font-family: "poppins Light";
    padding: 8px 30px 8px 30px;
    border: 1px solid white;
}

.profile_options {
    margin-bottom: 20px;
}

.highlited_btn {
    background-color: orangered;
    color: white;
    font-family: "poppins Light";
    padding: 8px 30px 8px 30px;
    margin-left: 15px;
    border: 0;
}

.highlited_btn:hover {
    background-color: white;
    color: black;
    font-family: "poppins Light";
    padding: 8px 30px 8px 30px;
    margin-left: 15px;
    border: 0;
}

.profile_picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0px 0px white;
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin: 0 0px 0 100px;
}

.profile_picture_bacground {
    height: 92%;
    width: 92%;
    background-image: url('../../assets/images/profile.jpg');
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.profile_picture_bacground:hover {
    transform: scale(1.07);
    transition: 1s ease-out;
}